.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
node_modules
build
.DS_Store
npm-debug.log
app/*/apps/*/priv/public/
doc/*.pdf
doc/*.png
sys.config
vm.args
app/rebar3
db/30-chapters.sql
